<div ng-controller="aboutController as aboutCtrl">
    <div class="image-container">
        <img class="profile-pic" src="./img/profile/boardingwithbuds.jpg"/>
    </div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu nulla neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum justo sapien, convallis et libero non, molestie facilisis urna. Quisque porta massa id mi feugiat, sit amet semper nisl luctus. Praesent rutrum scelerisque velit, non sollicitudin nunc rutrum in. Cras quam nunc, porttitor quis sollicitudin at, fringilla nec elit. Integer scelerisque risus ac tortor imperdiet, vel maximus dolor viverra. Nunc in augue non dui consequat gravida. In sollicitudin est turpis, eu tempus lacus feugiat non. Phasellus feugiat mi et justo rhoncus finibus. Aliquam eget dignissim nisi, lacinia pretium nibh. Vivamus sit amet velit nunc. Phasellus pulvinar congue vestibulum.
    </p>

</div>