<div ng-controller="homeController as homeCtrl">
    <div class="image-container">
        <img class="profile-pic" src="./img/profile/RefactorSteve.jpg"/>
    </div>
    <p>
        I'm a full-stack web developer who enjoys hiking, climbing, camping, snowboarding, brewing, and computing. I live in Colorado and I think it's pretty neat as far as states go.

        <br/>
        <br/>

        I'm currently seeking both contract and full-time opportunities developing or QA testing full-stack web applications.
    </p>

    <br/>
    <br/>

    <div class="center-text">
        <a href="https://www.linkedin.com/pub/steven-moody/31/154/383">
            <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View Steven Moody's profile on LinkedIn">
        </a>
        <a href="https://github.com/p1zzadog">
            <img src="./img/icon/GitHub_Logo.jpg" style="border-radius:0.25rem" alt="View Steven Moody's profile on GitHub">
        </a>
    </div>



</div>