<div ng-controller="homeController as homeCtrl">
    <div class="image-container">
        <img class="profile-pic" src="./img/profile/beerpic.jpg"/>
    </div>
    <p>
        I am a human who enjoys hiking, climbing, camping, snowboarding, brewing, computing, making, building, learning, and doing. I live in Colorado (which may be redundant to say at this point) and I think it's pretty neat as far as states go.

        <br/>
        <br/>

       I am also a full-stack stack web developer who is particularly handy with (but not altogether attached to) AngularJS and NodeJS, as well as NoSQL databases such as MongoDB. More importantly, I am a life-long learner with a passion for solving meaningful problems using technical knowledge and creativity.

        <br/>
        <br/>

        I'm currently seeking both contract and full-time opportunities QA testing or developing front-end, back-end, or full-stack web applications. Look me up on social media!
    </p>

    <br/>
    <br/>

    <div class="center-text">
        <a href="https://www.linkedin.com/pub/steven-moody/31/154/383">
            <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View Steven Moody's profile on LinkedIn">
        </a>
        <a href="https://github.com/p1zzadog">
            <img src="./img/icon/GitHub_Logo.jpg" style="border-radius:0.25rem" alt="View Steven Moody's profile on GitHub">
        </a>
    </div>



</div>