<div layout="row">
    <div flex="25" layout="column" layout-align="center center" hide-sm class="background">
        <h2>Projects View</h2>
        <h3>Left Column</h3>
    </div>

    <div flex-gt-sm="50" flex-sm layout="column" layout-align="center center" class="content">
        <h2>Projects View</h2>
        <h3>Middle Column</h3>
    </div>

    <div flex="25" layout="column" layout-align="center center" hide-sm class="background">
        <h2>Projects View</h2>
        <h3>Right Column</h3>
    </div>
</div>