<div ng-controller="projectController as projectCtrl">
    <div class="image-container">
        <h3><a href="http://www.thezonedenver.org/" target="_blank">The ZONE Website</a></h3>
        <h4>2015 GiveFirst Hackfest Project</h4>
        <a href="http://www.thezonedenver.org/" target="_blank"><img class="profile-pic" src="./img/projectex/zone.jpg"/></a>
    </div>
    <p>
        <a href="http://www.thezonedenver.org/" target="_blank">The ZONE Business Connection Center</a> As part of the <a href="http://blog.tryadhawk.com/feature-posts/2015-givefirst-hackfest/" target="_blank">2015 GiveFirst Hackfest</a> sponsored by <a href="https://www.tryadhawk.com/" target="_blank">AdHawk</a>, I was the volunteer team lead for revamping the website for The ZONE, a Denver non-profit small-business incubator and retail space. Based on the needs of the client, we chose not to hard-code a website and instead set them up with an easily-manageable SquareSpace website. We achieved all of client's requested features, including modern and mobile-reactive design, vendor profiles highlighting individual stories, as well as laying the foundation for an online store.
    </p>


    <hr/>


    <div class="image-container">
        <h3><a href="http://104.131.141.149/" target="_blank">Capsulate</a></h3>
        <a href="http://104.131.141.149/" target="_blank"><img class="profile-pic" src="./img/projectex/capsulate.jpg"/></a>
    </div>
    <p>
        <a href="http://104.131.141.149/" target="_blank">Capsulate</a> (Final Project) - In 7 days I built a time-capsule web application that allows users to create electronic time capsules filled with quirky information, small documents, and links which are unlocked after a specified length of time.
    </p>

    <ul>
        <li>UI: Angular Material</li>
        <li>Front-end: AngularJS, UI-Router</li>
        <li>Back-end: NodeJS, ExpressJS</li>
        <li>noSQL Database: MongoDB</li>
        <li>Authentication: PassportJS</li>
        <li>Email API: Sendgrid</li>
        <li>Document Storage: Amazon AWS S3</li>
    </ul>


    <hr/>


    <div class="image-container">
        <h3><a href="http://198.199.104.160/" target="_blank">Netrunner Rig Assistant</a></h3>
        <a href="http://198.199.104.160/" target="_blank"><img class="profile-pic" src="./img/projectex/netrunner.jpg"/></a>
    </div>
    <p>
        <a href="http://198.199.104.160/" target="_blank">Netrunner Rig Assistant</a> (Midterm Project) - In 4 days I built a companion app for Android: Netrunner LCG that leverages the NetrunnerDB.com API to suggest decklists for players based on cards they input. Application was built using AngularJS with a simple NodeJS Express server set up for hosting.
    </p>


    <hr/>







</div>