.banner {
    background-color:#5BDE57;
    color: white;
}

.nav {
    background-color:#579FDE;
    color:white;
}

.content {
    background-color:#DE9757;
    color:white;
}

.background {
    background-color:#DA57DE;
    color:white;
}